<h1>Список статей</h1>
<a href="{% url 'articles_create' %}">Создать новую статью</a>

<table border="1" cellpadding="5">
    <tr>
        <th>Название</th>
        <th>Контент</th>
        <th>Действия</th>
    </tr>
    {% for article in articles %}
    <tr>
        <td>{{ article.title }}</td>
        <td>{{ article.content }}</td>
        <td>
            <a href="{% url 'articles_update' article.id %}">Редактировать</a>
            <form action="{% url 'articles_delete' article.id %}" method="post" style="display:inline;">
                {% csrf_token %}
                <input type="submit" value="Удалить">
            </form>
        </td>
    </tr>
    {% endfor %}
</table>
